<mat-toolbar color="primary">
  <h1>F1 World Champions</h1>
  <span class="fill-remaining-space"></span>
  <img src="assets/images/f1.svg" alt="image" class="svg-48">
</mat-toolbar>

<mat-accordion>
  <mat-expansion-panel *ngFor="let champion of champions; index as i" [expanded]="step === i" (opened)="setStep(i)" hideToggle="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{champion.season}} - {{champion.driver.getFullName()}}
      </mat-panel-title>
      <!-- <span class="flag-icon" [ngClass]="'flag-icon-' + champion.driver.getCountryIso()"></span> -->
    </mat-expansion-panel-header>

    <span class="flex-center">
      <img src="assets/images/driver.svg" alt="image" class="svg-64" width="64px" height="64px">
    </span>
    <p class="flex-center">
      <a
        mat-stroked-button
        color="primary"
        href="{{champion.season}}/winners">
        {{champion.season}} - Winners</a>
    </p>

    <mat-grid-list cols="{{cols}}" rowHeight="{{rowHeight}}" (window:resize)="onResize($event)">
      <mat-grid-tile colspan="{{mainColSpan}}" rowspan="{{mainRowSpan}}">
        <mat-list>
          <mat-list-item>
            <p><b>Full Name:</b>&nbsp;<a href="{{champion.driver.url}}" target="_blank">{{champion.driver.getFullName()}}<mat-icon class="md-14 md-dark">open_in_new</mat-icon></a></p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p><b>Nationality:</b> {{champion.driver.nationality}}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p><b>Age in {{champion.season}}:</b> {{champion.driver.ageThen(champion.season)}}</p>
          </mat-list-item>
          <mat-divider *ngIf="dividerShow"></mat-divider>
        </mat-list>
      </mat-grid-tile>
      <mat-grid-tile colspan="{{mainColSpan}}" rowspan="{{mainRowSpan}}">
        <mat-list>
          <mat-list-item>
            <p><b>Wins:</b> {{champion.wins}}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p><b>Points:</b> {{champion.points}}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p><b>Car:</b>&nbsp;<a href="{{champion.constructorDetails.url}}" target="_blank">{{champion.constructorDetails.name}}<mat-icon class="md-14 md-dark">open_in_new</mat-icon></a></p>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-action-row>
      <button *ngIf="i>0" mat-button color="warn" (click)="prevStep()">Previous</button>
      <button *ngIf="i<champions.length-1" mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>