@import '~src/styles/global/mixins';

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-14 {
  @include md-icon-size(14px);
}

.material-icons.md-18 {
  @include md-icon-size(18px);
}

.material-icons.md-24 {
  @include md-icon-size(24px);
}

.material-icons.md-36 {
  @include md-icon-size(36px);
}

.material-icons.md-48 {
  @include md-icon-size(48px);
}