<mat-toolbar color="primary" *ngIf="season">
  <h1>F1 {{season}} Winners</h1>
  <span class="fill-remaining-space"></span>
  <img src="assets/images/finish-line.svg" alt="image" class="svg-48">
</mat-toolbar>

<a mat-stroked-button color="accent" class="padding-10" href="champions"><mat-icon class="md-14">keyboard_return</mat-icon>Back to Champions</a>

<mat-accordion>
  <mat-expansion-panel *ngFor="let winner of winners; index as i" [expanded]="step === i" (opened)="setStep(i)" hideToggle="false" class="{{winner.driver.driverId === champion.driver.driverId ? 'highlight' : ''}}">
    <!-- <div *ngIf="champion">{{winner.driver.driverId === champion.driver.driverId}}</div> -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        Round {{winner.round}} - {{winner.driver.getFullName()}}
      </mat-panel-title>
      <mat-panel-description>
        {{winner.locationLocality}} - {{winner.locationCountry}}
      </mat-panel-description>
      <!-- <span class="flag-icon" [ngClass]="'flag-icon-' + champion.driver.getCountryIso()"></span> -->
    </mat-expansion-panel-header>

    <mat-grid-list cols="{{cols}}" rowHeight="{{rowHeight}}" (window:resize)="onResize($event)">
      <mat-grid-tile rowspan="{{rowSpan}}">
        <img src="assets/images/cockpit.svg" alt="image" class="svg-64">
      </mat-grid-tile>
      <mat-grid-tile colspan="{{mainColSpan}}" rowspan="{{rowSpan}}">
        <mat-list>
          <mat-list-item>
            <p>
              <a href="{{winner.driver.url}}">{{winner.driver.getFullName()}}<mat-icon class="md-14 md-dark">open_in_new</mat-icon></a> is <b>{{winner.driver.nationality}}</b> and was <b>{{winner.driver.ageThen(champion.season)}}</b> years old in {{season}}.
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>
              {{winner.driver.givenName}} won at <b>{{winner.getRaceDateTime() | date:'d/M/yyyy HH:mm'}}</b> during <b><a href="{{winner.raceUrl}}">{{winner.raceName}}</a> - <a href="{{winner.circuitUrl}}">{{winner.circuitName}}</a><mat-icon class="md-14 md-dark">open_in_new</mat-icon></b> running <b>{{winner.laps}}</b> laps at only <b>{{winner.winningTime}}</b> in a <b><a href="{{winner.constructorDetails.url}}">{{winner.constructorDetails.name}}<mat-icon class="md-14 md-dark">open_in_new</mat-icon></a></b>.
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>
              The best lap was <b>{{winner.fastestLap | ordinal}}</b>, running in average with <b>{{winner.fastestLapAverageSpeed}} {{winner.fastestLapMeasurementUnit}}</b> at only <b>{{winner.fastestLapTime}}</b>.
            </p>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
    
    <!-- <mat-divider></mat-divider> -->

    <agm-map [latitude]="winner.locationLat" [longitude]="winner.locationLong"></agm-map>

    <mat-action-row>
      <button *ngIf="i>0" mat-button color="warn" (click)="prevStep()">Previous</button>
      <button *ngIf="i<winners.length-1" mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>