.padding-10 {
  margin: 10px;
}

.highlight > .mat-expansion-panel-header {
  background-color: #ffd740;
}

.mat-expansion-panel-header-description {
  flex-grow: 0;
}

agm-map {
  width: 90%;
  height: 90%;
}