<mat-toolbar color="primary" *ngIf="season">
  <h1>F1 {{season}} Winners</h1>
  <span class="fill-remaining-space"></span>
  <img src="assets/images/finish-line.svg" alt="finish line image" class="svg-48">
</mat-toolbar>

<a
  mat-stroked-button
  color="accent"
  class="padding-10"
  href="champions">
  <mat-icon class="md-14">keyboard_return</mat-icon>Back to Champions
</a>

<mat-accordion>
  <mat-expansion-panel *ngFor="let winner of winners; index as i"
    [expanded]="step === i"
    (opened)="setStep(i)"
    hideToggle="false"
    class="{{winner.driver.driverId === champion.driver.driverId ? 'highlight' : ''}}">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Round {{winner.round}} - {{winner.driver.getFullName()}}&nbsp;&nbsp;<img src="assets/images/cup.svg" alt="trophy image" class="svg-18" *ngIf="winner.driver.driverId === champion.driver.driverId">
      </mat-panel-title>
      <mat-panel-description>
        {{winner.locationLocality}} - &nbsp;<span class="flag-icon" [ngClass]="'flag-icon-' + (winner.getCountryIso() | lowercase)"></span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-grid-list cols="{{cols}}" rowHeight="{{rowHeight}}" (window:resize)="onResize($event)">
      <mat-grid-tile colspan="{{mainColSpan}}" rowspan="{{mainRowSpan}}">
        <mat-list>
          <mat-list-item>
            <p>
              <b>Full Name:</b>&nbsp;<a href="{{winner.driver.url}}" target="_blank">{{winner.driver.getFullName()}}<mat-icon class="md-14 md-dark">open_in_new</mat-icon></a>
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>
              <b>Nationality:</b> {{winner.driver.nationality}}
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p><b>Age in {{season}}:</b> {{winner.driver.ageThen(season)}}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>
              <b>Date:</b>&nbsp;{{winner.getRaceDateTime() | date:'d/M/yyyy HH:mm'}}
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>
              <b>Race:</b>&nbsp;<a href="{{winner.raceUrl}}" target="_blank">{{winner.raceName}}</a> - <a href="{{winner.circuitUrl}}" target="_blank">{{winner.circuitName}}</a><mat-icon class="md-14 md-dark">open_in_new</mat-icon>
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>
              <b>Laps:</b> {{winner.laps}}
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>
              <b>Time:</b> {{winner.winningTime}}
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>
              <b>Car:</b>&nbsp;<a href="{{winner.constructorDetails.url}}" target="_blank">{{winner.constructorDetails.name}}<mat-icon class="md-14 md-dark">open_in_new</mat-icon></a>
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>
              <b>Fastest Lap:</b> {{winner.fastestLap | ordinal}}
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>
              <b>Average Speed:</b> {{winner.fastestLapAverageSpeed}} {{winner.fastestLapMeasurementUnit}}
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>
              <b>Timed:</b> {{winner.fastestLapTime}}
            </p>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
      <mat-grid-tile colspan="{{mainColSpan}}" rowspan="{{mapRowSpan}}">
        <agm-map class="flex-center"
          *ngIf="step === i"
          [latitude]="winner.locationLat"
          [longitude]="winner.locationLong"
          [zoom]="15"
          [zoomControl]="false"></agm-map>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-action-row>
      <button *ngIf="i>0" mat-button color="warn" (click)="prevStep()">Previous</button>
      <button *ngIf="i<winners.length-1" mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>