<h1>F1 {{season}} Winners</h1>
<h3>Rounds</h3>

<ul class="rounds">
  <li *ngFor="let winner of winners">
    <div *ngIf="champion">{{winner.driver.driverId === champion.driver.driverId}}</div>
    <div>
      Round: {{winner.round}}
      <a href="{{winner.raceUrl}}">Race Name: {{winner.raceName}}</a>
      <a href="{{winner.circuitUrl}}">Circuit Name: {{winner.circuitName}}</a>
      <!-- Gmaps locationLat locationLong -->
      When: {{winner.raceDate}} {{winner.raceTime}}
      Laps: {{winner.laps}}
    </div>
    <div>
      <a href="{{winner.driver.url}}">
          Name: {{champion.driver.getFullName()}}
          Age at the time: {{winner.driver.ageThen(season)}}
          Nationality: {{winner.driver.nationality}}
      </a>
    </div>
    <div>
      <a href="{{winner.constructor.url}}">
        Constructor: {{winner.constructor.name}}
      </a>
    </div>
    <div>
      Winning Time: {{winner.winningTime}}
      Fastest Lap: {{winner.fastestLap}}
      Fastest Lap Time: {{winner.fastestLapTime}}
      Fastest Lap Average Speed: {{winner.fastestLapAverageSpeed}} {{winner.fastestLapMeasurementUnit}}
    </div>
  </li>
</ul>

<button (click)="goBack()">go back</button>