.spinner {
  margin: 20px auto;
}

.footer {
  background: #3f51b5;
  color: #fff;
  padding: 12px;
  font-size: 12px;
  a {
    color: rgba(0, 0, 0, 0.87);
  }
}

.footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
  text-align: center;
}

.footer-item {
  flex: 1;
}

@media screen and (max-width: 884px){
  .footer-list {
    flex-direction: column;
  }
}