/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~flag-icon-css/css/flag-icon.min.css";

@import "~src/styles/global/mat-icons";
@import '~src/styles/global/mat-list';
@import '~src/styles/global/svg';

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-list {
  width: 100%;
}

p {
  width: 100%;
}